---
---

@import 'code-highlighting';

$font-size: 16px; 		// Base font size
$em: $font-size / 1em;	// Shorthand for outputting ems
$sans-serif-font: 'IBM Plex Sans', sans-serif;
$text-color: rgba(47, 47, 53, 1);
$code-background: #fdf6e3;
$inline-code-background: rgb(239, 240, 241);
$thead-background: #fdf6e3;
$link-color: #22779f;
$visited-link-color: #955827;
$td-border-color: #f2f2f2;
$container-width: 720px;
$footer-background: rgb(248, 249, 251);
$footer-border: 1px solid rgb(229, 234, 241);
$footer-link-color: rgba(47, 47, 53, 0.7);
$footer-link-color-hover: rgba(47, 47, 53, 1);
$disclaimer-color: rgba(47, 47, 53, 0.3);
$link-color: rgba(8, 129, 179, 0.8);
$link-color-hover: rgba(8, 129, 179, 1);
$link-color-visited: rgb(110, 78, 199);

@font-face {
    font-family: "SS Social";
    src: url("/webfonts/ss-social-regular.eot");
    src: local("☺"),
    url("/webfonts/ss-social-regular.woff") format("woff"),
    url("/webfonts/ss-social-regular.otf") format("opentype"),
    url("/webfonts/ss-social-regular.svg#ss-social-regular") format("svg");
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Structure */

html, body {
    height: 100%;
}

body {
    font-family: $sans-serif-font;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5em;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}

.container {
    text-align: left;
    margin: auto;
    width: $container-width;
}

header {

  h1 span {
      display: none;
  }

  nav {
    ul {
      list-style: none;
      margin: 2em 0 0 0;
      padding: 0;

      li {
          display: inline;
          padding: 0 0.75em 0 0.75em;
          white-space: nowrap;

          a {
              padding: 5px 15px;
              background: rgba(229, 234, 241, 0.5);
              border-radius: 4px;
              color: $footer-link-color;
              text-decoration: none;
              box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
              display: inline-block;
          }

          a:visited {
            color: $footer-link-color;
          }

          a:active {
            transform: translateY(2px);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          }

          a:hover {
              text-decoration: none;
          }
      }
    }
  }

  .container {
      text-align: center;
  }
}

footer {
    background: $footer-background;
    border-top: $footer-border;
    margin-top: 80px;
    padding: 20px 20px 60px 20px;

    ul {
        list-style: none;
        margin: 2em 0 0 0;
        padding: 0;

        li {
            display: inline;
            padding: 0 1em 0 1em;
            white-space: nowrap;
        }
    }

    a {
      color: $footer-link-color;
      border-bottom-color: $footer-background;
    }

    a:hover {
      color: $footer-link-color-hover;
    }

    a:visited { 
        color: $footer-link-color;
    }

    .container {
      text-align: center;
    }
}

.disclaimer {
  font-size: 0.75em;
  color: $disclaimer-color;
  margin-top: 2.25em;
}

.logo {
    width: 125px;     
}

/* typography */
h1 {
    font-size: 2.25em;
    margin: 2.25em 0 0.5em 0;
    line-height: 1.125em;
}

h2 {
    font-size: 1.75em;
    margin: 1.75em 0 0.5em 0;
}

h3 {
    font-size: 1.25em;
    margin: 1.25em 0 0.5em 0;
}

h4 {
    font-size: 1em;
    margin: 1em 0 0.5em 0;
}

p {
    margin: 0 0 1.25em 0;
}

blockquote {
    margin-left: 20px;
    padding-left: 20px;
    font-style: italic;
    border-left: $footer-border;
}

a{
    text-decoration: none;
    color: $link-color;
    transition: border-bottom .20s ease-in;
    -moz-transition: border-bottom .20s ease-in;
    -webkit-transition: border-bottom .20s ease-in;
    -ms-transition: border-bottom .20s ease-in;
}

a:hover {
    color: $link-color-hover;
    text-decoration: underline;
    text-decoration-color: $link-color-hover;
}

a:visited {
    color: $link-color-visited;
    text-decoration: underline;
    text-decoration-color: $link-color-visited;
}

::selection {
    background: red;
    color: white
}

::-moz-selection {
    background: red;
    color: white
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

.post-date {
    margin-top: -0.5em;
    font-style: italic;
}

/* Lists */
ol, ul {
    margin: 0 0 1.25em 40px;
}

li {
    padding-left: 12px;
    margin-bottom: 1.25em;
}

/* Tables */
.table {
    border-collapse: collapse;
    border-radius: 8px/$em;
    width: 100%;
    webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 10px 0px;
    margin: 2em 0 2em 0;

    tr {
        border-bottom: 1px solid $td-border-color;
    }

    th {
        padding: 0.75em 0.5em 0.75em 0.5em;
        background-color: $thead-background;
        text-align: left;
    }

    th:first-child {
        border-top-left-radius: 8px/$em;
    }

    th:last-child {
        border-top-right-radius: 8px/$em;
    }

    td {
        padding: 0.75em 0.5em 0.75em 0.5em;
    }

    tbody tr:hover {
        background-color: $td-border-color;
    }
}

.table-caption {
    margin: -1em 0 1.25em 0;
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
}

/* Images */
.extrawide {
    margin-left: -240px;
    max-width: 1200px; 
}

li .extrawide {
    margin-left: -285px;
}

/* Non-wide images won't exceed the text width, even if we shrink text width further */
img:not(.extrawide), video, iframe {
    max-width: 100%;
}

img:not(.extrawide), video {
    height: auto;
}

/* Code */
code {
    background-color: $inline-code-background;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    font-size: 1.10em;
}

.highlight {
    padding: 10px/$em;
    border-radius: 8px/$em;
    overflow: scroll;
  }

.highlight pre {
    margin-bottom: 0;
}

.highlight pre code {
    background: none;
}

.highlighter-rouge {
    margin: 0 0 1em 0;
}

@media only screen and (max-width: 1200px) {
    .extrawide {
        margin-left: calc(-1 * (100vw - 720px) / 2);
        max-width: 100vw;
    }
    img.extrawide, video.extrawide {
        height: auto;
    }
    li .extrawide {
        margin-left: calc(-1 * (((100vw - 720px) / 2) + 57px));
    }
}

@media only screen and (max-width: 746px) {
    .extrawide {
        margin-left: -20px;
        width: 100vw;
    }

    li .extrawide {
        margin-left: -77px;
    }

    .container {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 568px) {
    body {
        font-size: 1rem;
    }

    table {
        font-size: 0.8rem;
    }
}